.CategoryName {
  text-align: center;
}

.CategoryOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

.CategoryOptions a {
  transition: background-color 300ms ease;
}

.CategoryOptions a:hover {
  background-color: pink;
}

.button {
  background-color: green;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;

}

.Header {
  text-align: center;
}
